.main-header{
	box-shadow: 0 0 3px 0px rgba(101, 91, 91, 0.35);	
}

.main-header .navbar .nav>li>a {
    color: #2a3f54 !important;
}

.skin-blue-light .main-header .navbar {
    background-color: #EDEDED !important;
    border-bottom: 1px solid #D9DEE4 !important;
}

.skin-blue-light .main-header .logo {
    background-color: rgba(208, 208, 208, 0.08);
    color: white;
    border-bottom: 0 solid transparent;
}

.skin-blue-light .main-header .navbar .sidebar-toggle {
    color: #5A738E !important;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #F9F9F9 !important;
    z-index: 800;
}

.box-title {
    display: inline-block;
    font-size: 16px !important;
    margin: 0;
    line-height: 1;
}

.box-body {
    padding: 15px;
    padding-top: 5px;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	color: #2a3f54;
	font-size: 13px;
}

table{
	font-size: 13px;
	border: 1px solid black;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	color: #2a3f54;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 3px solid #ddd;
}

.skin-blue-light .wrapper, .skin-blue-light .main-sidebar, .skin-blue-light .left-side {
    background-color: #2a3f54;
}

.skin-blue-light .sidebar-menu>li.header {
    color: white;
    background: #2a3f54;
}

.skin-blue-light .sidebar-menu>li:hover>a, .skin-blue-light .sidebar-menu>li.active>a {
    color: white;
    background: #2a3f54;
}

.skin-blue-light .sidebar a {
    color: white;
}

.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}

img {
    vertical-align: middle;
}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #d6d6d6;
}

.box {
    position: relative;
    background: #ffffff;
    border-top: 1px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
}

.btn-default {
    background-color: #dddddd;
    color: #444;
    border-color: #b3b3b3;
}

.title {
	font-size: 19px !important;
	color: #2a3f54;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif" !important;
}

.content-header>h1 {
    margin: 2px; !important;
}

.required-field{
	color: red;
}

.required-div{
	margin-left: 1%
}

.alert .close {
    color: #ffffff !important;
    opacity: 100;
}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #777; !important;
    font-size: 30px;
}
    